---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Signup from "../components/Signup.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import avatarImage from "../assets/avatar.jpg";
import bannerImage from "../assets/odoenet_banner.jpg";
import { Picture } from "@astrojs/image/components";
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Picture
				src={bannerImage}
				aspectRatio={"7:1"}
				widths={[200, 400, 1000]}
				sizes="(max-width: 2048px) 100vw"
				formats={["avif", "jpeg", "png", "webp"]}
				alt="odoenet"
			/>
			<div class="avatar">
				<Picture
					class="avatar__image"
					src={avatarImage}
					aspectRatio={"4:4"}
					widths={[20, 40, 60]}
					sizes="(max-width: 200px) 60px"
					formats={["avif", "jpeg", "png", "webp"]}
					alt="Rene Rubalcava"
				/>
			</div>
			<div class="main-content">
				<p>Hi! I'm Rene Rubalcava and this is odoenet!</p>
				<p>You can find me in a number of places!</p>
				<ul>
					<li>
						<a
							href="https://theboundingbox.podbean.com/"
							target="_blank"
							rel="nofollow"
							>podcast
						</a>
					</li>
					<li>
						<a
							href="https://github.com/odoe"
							target="_blank"
							rel="nofollow"
							>github
						</a>
					</li>
					<li>
						<a
							href="https://twitter.com/odoenet"
							target="_blank"
							rel="nofollow"
							>twitter
						</a>
					</li>
					<li>
						<a
							href="https://www.twitch.tv/odoenet"
							target="_blank"
							rel="nofollow"
							>twitch
						</a>
					</li>
					<li>
						<a
							href="https://www.youtube.com/c/ReneRubalcava"
							target="_blank"
							rel="nofollow"
							>youtube
						</a>
					</li>
					<li>
						<a
							href="https://www.linkedin.com/in/renerubalcava/"
							target="_blank"
							rel="nofollow"
							>linkedin
						</a>
					</li>
					<li>
						<a
							href="https://learn-dojo.com/"
							target="_blank"
							rel="nofollow"
							>learn-dojo
						</a>
					</li>
				</ul>
				<p>
					If you happen to notice problems, typos, or needed edits,
					please make an issue <a
						href="https://github.com/odoe/odoenet/issues"
						target="_blank"
						rel="nofollow"
						>here
					</a>.
				</p>
				<p>
					If you are so inclined, you can donate <a
						href="https://donate.cipherdogs.net/?address=49FdUbruv6F5otJqapanaJcoLLoosDyoL5gs7XavTATmZGAKb6j2neUNbQ1o1SuXtpZisd4GZ8scRDvwbbMHzPtKSMyH8rz"
						target="_blank"
						rel="nofollow"
						>Monero here
					</a>.
				</p>
			</div>
		</main>
		<Signup />
		<Footer />
	</body>
</html>
